{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12" >
            <div class="top-container" style="display: flex; align-items: center; justify-content: space-between; margin: 0 200px 0 200px;">
                <h1>Accesorios</h1>
                <div class="form-container" style="display: flex; align-items: center; justify-content: space-between; gap: 50px;">
                    <form method="POST" action="{% url 'accesories' %}">
                        {% csrf_token %}
                        <input class="search-input" type="text" placeholder="Search.." style="height: 30px; border-radius: 15px; padding: 0 5px 0 5px;" id="search" name="search">
                        <button class="search-button" style="width: 100px; height: 30px; border-radius: 15px; background-color: #426B1F; color: white;" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="divisor" style="margin: 10px 200px 30px 200px;">
    <div class="row products-row" style="margin: 0 200px 0 200px;">
        {% if products %}
            {% for product in products %}
                <div class="col-md-4">
                    <div class="product-card" style="width: 400px; height: 400px; border-radius: 20px; border:solid lightgray 2px; overflow: hidden;">
                        <div class="product-inner" style="display: flex; flex-direction: column; align-items: center; justify-content: space-between; gap: 10px;">
                            <img class="product-image" src="C:\Users\raulr\Downloads\a.jpeg" alt={{product.name}} style="width: 400px; height: 275px; object-fit: cover; border-radius: 15px 15px 0 0;">
                            <div class="product-lower" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 80%;">
                                <div class="product-text-container" style="display: flex; flex-direction: column; justify-content: space-between;">
                                    <p>{{product.name}}</p>
                                    <p>{{product.price}}</p>
                                </div>
                                <button class="product-button" style="width: 100px; height: 30px; border-radius: 15px; background-color: #426B1F; color: white;">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="no-products" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                <p>No hay resultados</p>
            </div>
        {% endif %}
    </div>
{% endblock %}