{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12" >
            <div class="top-container">
                <h1>Bicicletas</h1>
                <div class="form-container">
                    <form method="POST" action="{% url 'index' %}">
                        {% csrf_token %}
                        <input class="search-input" type="text" placeholder="Search.." id="search" name="search">
                        <button class="search-button" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="divisor">
    <div class="row category-row">
        <div class="col-md-12" >
            <div class="category-container">
                <button class="category-button" onclick="location.href='{% url 'index' 'Grava' %}'" >Grava</button>
                <button class="category-button" onclick="location.href='{% url 'index' 'Montaña' %}'">Montaña</button>
                <button class="category-button" onclick="location.href='{% url 'index' 'BMX' %}'">BMX</button>
                <button class="category-button" onclick="location.href='{% url 'index' 'Urbano' %}'">Urbano</button>
                <button class="category-button" onclick="location.href='{% url 'index' 'Electrico' %}'">Electrico</button>
            </div>
        </div>
    </div>
    <div class="row products-row">
        {% if products %}
            {% for product in products %}
                <div class="col-md-4">
                    <div class="product-card">
                        <div class="product-inner">
                            <img class="product-image" src="C:\Users\raulr\Downloads\a.jpeg" alt={{product.name}}>
                            <div class="product-lower">
                                <div class="product-text-container">
                                    <p>{{product.name}}</p>
                                    <p>{{product.price}}</p>
                                </div>
                                <button class="product-button">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="no-products">
                <p>No hay resultados</p>
            </div>
        {% endif %}
    </div>
{% endblock %}