{% load static %}

{% block title %} 
    <title> Login </title>

{% endblock %}

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Username:</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-user"></i>
                </span>
            </div>
            {{ form.username }}
        </div>
    </div>

    <div class="form-group">
        <label for="{{ form.password.id_for_label }}">Password:</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-lock"></i>
                </span>
            </div>
            {{ form.password }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary" style="background-color: rgb(046, 139, 087);">
        <i class="fa fa-sign-in-alt"></i> Login
    </button>

    {% if form.errors %}
        <p class="text-danger">
            Your username and password didn't match. Please try again.
        </p>
    {% endif %}

</form>

<br>
<br>
